<div id="playerValues">
  <label for="life"> Life: </label>
  <output id="life">{{ life }}</output
  ><br />
  <label for="score"> Your score is: </label>
  <output id="score">{{ score }}</output>
  <div class="tableFixHead">
    <table>
      <thead>
        <tr>
          <!-- <th>Place</th> -->
          <th>Username</th>
          <th>Score</th>
          <th>Life</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userScore of userScores">
          <td>{{ userScore.username }}</td>
          <td>{{ userScore.score }}</td>
          <td>{{ userScore.life }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
